@page "/login"
@using SistemaNominaADC.Presentacion.Services.Auth
@using SistemaNominaADC.Entidades.DTOs
@using SistemaNominaADC.Presentacion.Security

@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject SessionService SessionService

<RadzenCard Style="max-width:420px;margin:auto;margin-top:6rem;padding:2rem;">

    <RadzenText Text="Sistema de Nómina ADC"
                TextStyle="TextStyle.H5"
                Style="text-align:center;margin-bottom:1rem;" />

    <RadzenText Text="Inicio de sesión"
                TextStyle="TextStyle.Subtitle1"
                Style="text-align:center;margin-bottom:2rem;" />

    <RadzenTemplateForm TItem="LoginRequestDTO"
                        Data="@loginModel"
                        Submit="@OnLoginAsync">

        <RadzenFieldset Text="Credenciales">

            <RadzenLabel Text="Correo electrónico" />
            <RadzenTextBox Name="Email"
                           @bind-Value="loginModel.Email"
                           Style="width:100%" />
            <RadzenRequiredValidator Component="Email"
                                     Text="El correo es obligatorio" />
            <RadzenEmailValidator Component="Email"
                                  Text="Correo inválido" />

            <div style="margin-top:1rem;">
                <RadzenLabel Text="Contraseña" />
                <RadzenPassword Name="Password"
                                @bind-Value="loginModel.Password"
                                Style="width:100%" />
                <RadzenRequiredValidator Component="Password"
                                         Text="La contraseña es obligatoria" />
            </div>

        </RadzenFieldset>

        <RadzenButton Text="Ingresar"
                      Icon="login"
                      ButtonStyle="ButtonStyle.Primary"
                      ButtonType="ButtonType.Submit"
                      Style="width:100%;margin-top:2rem;" />

        @if (!string.IsNullOrEmpty(error))
        {
            <RadzenAlert Severity="AlertSeverity.Error"
                         Text="@error"
                         Style="margin-top:1.5rem;" />
        }

    </RadzenTemplateForm>
</RadzenCard>