@typeparam TItem where TItem : notnull

<div class="tabla-wrapper">
    <RadzenDataGrid TItem="TItem"
                    Data="@Items"
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Advanced"
                    LogicalFilterOperator="LogicalFilterOperator.And"
                    AllowColumnPicking="true"
                    AllowSorting="true"
                    AllowPaging="true"
                    PageSize="10"
                    Responsive="true"
                    ColumnWidth="@ColumnWidth"
                    class="@GridCssClass"
                    RowSelect="@OnRowSelected">

        <Columns>
            @ColumnsTemplate
        </Columns>

    </RadzenDataGrid>
</div>

@code {

    [Parameter] public IEnumerable<TItem>? Items { get; set; }

    [Parameter] public RenderFragment? ColumnsTemplate { get; set; }

    [Parameter] public EventCallback<TItem> OnRowClick { get; set; }
    [Parameter] public string? ColumnWidth { get; set; }
    [Parameter] public string? CssClass { get; set; }

    private string GridCssClass => string.IsNullOrWhiteSpace(CssClass)
        ? "tabla-autofit"
        : $"tabla-autofit {CssClass}";

    private async Task OnRowSelected(TItem item)
    {
        if (OnRowClick.HasDelegate)
            await OnRowClick.InvokeAsync(item);
    }
}
