@using SistemaNominaADC.Presentacion.Security
@using SistemaNominaADC.Presentacion.Services.Auth

@inherits LayoutComponentBase
@inject SessionService SessionService
@inject NavigationManager Navigation
@inject CustomAuthStateProvider AuthStateProvider
@* @if (!SessionService.IsAuthenticated)
{
    
}
else
{ *@
    <div class="page">
        <div class="sidebar">
                 <NavMenu />

        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

@code {
    private bool _bIntentado;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender || _bIntentado)
            return;

        _bIntentado = true;

        var bRestored = await SessionService.RestoreSessionAsync();
        if (bRestored)
        {
            AuthStateProvider.NotifyUserAuthentication();
            StateHasChanged();
        }
    }
}
