@using SistemaNominaADC.Presentacion_Old.Core

<nav>
    <ul>
        @foreach (var modulo in ModuloProvider.ObtenerModulos())
        {
            <li>
                <NavLink href="@modulo.RutaBase" Match="NavLinkMatch.All">
                    @modulo.Nombre
                </NavLink>
            </li>
        }
    </ul>
</nav>
