@page "/vacaciones/registro/{Id:int}"
@rendermode InteractiveServer

@using SistemaNominaADC.Presentacion_Old.Components.Base

<RegistroBase Titulo="Solicitud de Vacaciones"
              RutaRetorno="/vacaciones">

    <p>ID recibido: @Id</p>
    <p>Pantalla de registro en construcción.</p>

</RegistroBase>

@code {
    [Parameter]
    public int Id { get; set; }
}
