
@using Microsoft.AspNetCore.Components.Authorization
@using SistemaNominaADC.Presentacion.Components.Layout
@using SistemaNominaADC.Presentacion.Components.Pages
@using SistemaNominaADC.Presentacion.Services.Auth
@inherits RoutesBase


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>Página no encontrada</h3>
                <p>La ruta solicitada no existe o no tiene permiso para verla.</p>
                <a href="/" class="btn btn-primary">Volver al inicio</a>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState> 



